<!DOCTYPE html>
<html lang='fr'>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <link rel="stylesheet" href="{{ asset('bundles/jmbatiinterim/css/styles.css') }}" type="text/css" />
            <script src="{{ asset('bundles/jmbatiinterim/js/function.js') }}"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" type="text/css" />
            <title>BatiInterim – {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    
    <body>
       
       
            <div class="ui segment">
  <img class="ui centered medium image" src="{{ asset('bundles/jmbatiinterim/images/logo.jpg') }}"/>
            <div class="ui fluid two item menu">
              
              <a class="item" href="{{path( 'bat_interim_homepage')}}">Menu</a>
              <a class="item" href="{{ path( 'bat_interim_logout') }}">Deconnexion</a>
            </div>
        <section class="section">
            <div class="container">
                <div id="content">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <footer class="footer">
                <div class="content has-text-centered">
                    {% block footer %}
                        <p>{{ 'now'|date('d - m -Y') }}</p>
                        <p>&copy; Copyright 2019 by Jeya Mahesananthan</p>
                    {% endblock %}
                </p>
            </footer>
        </section>
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    $notification = $delete.parentNode;
                    $delete.addEventListener('click', () => {
                      $notification.parentNode.removeChild($notification);
                    });
                  });
                });
            </script>
    </body>
</html>