{% extends "base.html.twig" %}

{% block title %}
Saisie artisan
{% endblock %}

{% block body %}
    <h1 class="title is-1 has-text-centered">Nouvel artisan</h1>
    
    {{ form_start(form) }}
        {% block form_row %}
            <div style="width: 400px; margin:auto;" class="box">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="notification is-{{ label }}">
                            <button class="delete"></button>
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="field">
                    {{ form_label(form.nomArtisan, 'Nom', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.nomArtisan, {'attr': {'class': 'input'} }) }}
                    </div>
                {{ form_errors(form.nomArtisan, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field">
                    {{ form_label(form.prenomArtisan, 'Prenom', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.prenomArtisan, {'attr': {'class': 'input'} }) }}
                    </div>
                {{ form_errors(form.prenomArtisan, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field">
                    {{ form_label(form.dateNaissanceArtisan, 'Date de Naissance', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.dateNaissanceArtisan) }}
                    </div>
                {{ form_errors(form.dateNaissanceArtisan, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field">
                    {{ form_label(form.telephoneArtisan, 'Telephone', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.telephoneArtisan, {'attr': {'class': 'input'} }) }}
                    </div>
                {{ form_errors(form.telephoneArtisan, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field">
                    {{ form_label(form.paysNaissanceArtisan, 'Pays de Naissance', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.paysNaissanceArtisan, {'attr': {'class': 'input'} }) }}
                    </div>
                {{ form_errors(form.paysNaissanceArtisan, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field">
                    {{ form_label(form.idcorpsmetier, 'Corps métier', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.idcorpsmetier, {'attr': {'class': 'select'} }) }}
                    </div>
                {{ form_errors(form.idcorpsmetier, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field">
                    {{ form_label(form.villeNaissanceArtisan, 'Ville de naissance', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.villeNaissanceArtisan, {'attr': {'class': 'input'} }) }}
                    </div>
                {{ form_errors(form.villeNaissanceArtisan, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field">
                    {{ form_label(form.adresseArtisan, 'Adresse', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.adresseArtisan, {'attr': {'class': 'input'} }) }}
                    </div>
                {{ form_errors(form.adresseArtisan, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field">
                    {{ form_label(form.villeArtisan, 'Ville', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.villeArtisan, {'attr': {'class': 'input'} }) }}
                    </div>
                {{ form_errors(form.villeArtisan, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field">
                    {{ form_label(form.cpArtisan, 'Code Postale', {'label_attr': {'class': 'label'} }) }}
                    <div class="control"> 
                        {{ form_widget(form.cpArtisan, {'attr': {'class': 'input'} }) }}
                    </div>
                {{ form_errors(form.cpArtisan, {'attr': {'class': 'help is-danger'} }) }}
                </div>

                <div class="field is-grouped">
                    <div class="control"> 
                        {{ form_widget(form.valider, {'attr': {'class': 'button is-primary'} }) }}
                    </div>
                    <div class="control">
                        {{ form_widget(form.annuler, {'attr': {'class': 'button is-light'} }) }}
                    </div>
                </div>
            </div>
        {% endblock %}
    {{ form_end(form) }}
    <div>
        <a class="button is-info is-outlined" href="{{ path( 'bat_interim_gestionnaire') }} ">Retour</a>
    </div>
{% endblock %}