{% extends "base.html.twig" %}

{% block title %}
Supprimer artisan
{% endblock %}
{% block body %}
    <h1 class="title is-1 has-text-centered">Suppression d'artisans</h1>
    
    
    <table class="table is-fullwidth is-bordered is-striped is-narrow is-hoverable">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
            {% for unArtisan in artisan %}
                <tr>
                    <td>
                        {{ unArtisan.nomArtisan }}
                    </td>
                    <td>
                        {{ unArtisan.prenomArtisan}}
                    </td>
                    <td class="has-text-centered">
                        <a class="button is-danger" href="{{ path('bat_interim_gestionnaire_supprimerartisan',{'id': unArtisan.id})}}">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
      </tbody>
    </table>
    <br/>
    {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="notification is-{{ label }}">
                            
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
{% endblock %}